.button {
  padding: 0.5rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 8px;
  border: 2px solid #d7d7e5;
  background-color: #d7d7e5;
  cursor: pointer;
}

.button--danger {
  background-color: #e84354;
  border: 2px solid #e84354;
  color: #eaeaf9;
}

.button--outlined {
  background-color: transparent;
  border: 2px solid currentColor;
}
