.color-picker {
  display: grid;
  grid-template-rows: 150px auto auto;
  gap: 1rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: #d7d7e5;
}

.color-picker__color-input-wrapper {
  position: relative;
  overflow: hidden;
}

.color-picker__color-input {
  all: unset;
  position: absolute;
  width: 110%;
  inset: -5px;
  box-sizing: border-box;
  border-radius: 8px;

  cursor: pointer;
}

.color-picker__text-input-wrapper {
  padding-inline: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

.color-picker__text-input {
  width: 100%;
  background-color: #cecede;
  color: #565661;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 1rem;
  font-weight: normal;
}

.color-picker__role {
  font-weight: bold;
}
