.theme-form {
  display: grid;
  gap: 0.5rem;
}

.theme-form__title {
  font-size: 3rem;
  margin: 0;
}

.theme-form__name-input {
  padding: 0.5rem;
  font-size: 1.125rem;
  border: 1px solid #d7d7e5;
  border-radius: 8px;
}

.theme-form__color-inputs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  padding: 0;
}
