.header {
  max-width: 650px;
  margin: 0 auto;
  padding: 10vh 0.5rem 0.5rem;
}

h1 {
  margin: 0;
  font-size: 60px;
  color: #54545a;
  font-family: "Helvetica";
  line-height: 0.875;
  font-weight: black;
  word-spacing: 9999px;
}

body {
  background-color: #efefff;
  color: #34343c;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 0.5rem 2rem;
}

.theme-list {
  display: grid;
  gap: 3rem;
}
